{{define "head"}}<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="/style.css">
</head>{{end}}

{{define "nav"}}<nav>
    <div></div>
    <div class="social">
      <a href="https://github.com/afking" class="logo github"></a>
      <a href="https://www.instagram.com/edwardmcfarlane/" class="logo instagram"></a>
      <a href="https://twitter.com/EdwardMcFarlane" class="logo twitter"></a>
      <a href="https://www.linkedin.com/in/edward-mcfarlane-b5493375/" class="logo linkedin"></a>
    </div>
  </nav>{{end}}

{{define "footer"}}<footer>
    <div>By Edward McFarlane<div>
  </footer>{{end}}
