<!DOCTYPE html>
<html>
{{template "head" .}}
<body>
  <header>
    <h1>{{.Title}}</h1>
  </header>
  <main>
  {{range $index, $post := .Posts}}
    <article>
      <a href="{{.Dst}}">
        <h2>{{.Title}}</h2>
        <div>{{.Description}}</div>
      </a>
    </article>
  {{end}}
  </main>
  <footer>
  </footer>
</body>
</html>
