<!DOCTYPE html>
<html>
{{template "head" .}}
<body>
  {{template "nav" .}}
  <header>
    <h1>{{.Title}}</h1>
  </header>
  <main>
    {{range $index, $post := .Posts}}<article>
      <a href="{{.Dst}}">
        <h2>{{.Title}}</h2>
      </a>
      <p>{{.Description}}</p>
      <p>{{.ModTime.Format "Jan 02, 2006"}}</p>
    </article>{{end}}
  </main>
  {{template "footer" .}}
</body>
</html>
