html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    width: 100%;
    //background-color: coral;
    line-height: 1.618;
    margin: auto;
    line-height: 1.618;
    max-width: 38em;
    padding: 13px;
    color: rgba(0, 0, 0, .84) !important;
    fill: rgba(0, 0, 0, .84) !important;
}

@media (max-width: 684px) {
    body {
        font-size: 0.9em;
    }
}

@media (max-width: 382px) {
    body {
        font-size: 0.7em;
    }
}

main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

article {
    width: 100%;
}

a {
    color: rgba(6, 69, 173, .84) !important;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    text-decoration: underline;
}

nav {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
}

.social {
    display: flex;
    align-items: flex-end;
}

.logo {
    display: block;
    text-indent: -9999px;
    height: 24px;
    width: 24px;
    margin-right: 8px;
    fill: orange;
}

.github {
    background: url("/assets/github.svg");
}

.twitter {
    background: url("/assets/twitter.svg");
}

.instagram {
    background: url("/assets/instagram.svg");
}

.linkedin {
    background: url("/assets/linkedin.svg");
}

footer {
    margin: auto;
    padding: 4em 0;
    font-size: 12px !important;
    width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, .54) !important;
    fill: rgba(0, 0, 0, .54) !important;
}

hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0.5em auto 0.5em auto;
}

img {
    max-width: 100%;
}

pre {
    background-color: #f1f1f1;
    display: block;
    padding: 1em;
    overflow-x: auto;
}

code {
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: #f1f1f1;
    white-space: pre-wrap;
}

pre>code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
}

table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 0.5em;
    border-bottom: 1px solid #f1f1f1;
}

/* Buttons, forms and input */
input,
textarea {
    border: 1px solid #4a4a4a;
}

input:focus,
textarea:focus {
    border: 1px solid #2c8898;
}

textarea {
    width: 100%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #2c8898;
    color: #f9f9f9;
    border-radius: 1px;
    border: 1px solid #2c8898;
    cursor: pointer;
    box-sizing: border-box;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
    cursor: default;
    opacity: .5;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="button"]:hover {
    background-color: #982c61;
    border-color: #982c61;
    color: #f9f9f9;
    outline: 0;
}

textarea,
select,
input[type] {
    color: #4a4a4a;
    padding: 6px 10px;
    /* The 6px vertically centers text on FF, ignored by Webkit */
    margin-bottom: 10px;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

textarea:focus,
select:focus,
input[type]:focus {
    border: 1px solid #2c8898;
    outline: 0;
}

input[type="checkbox"]:focus {
    outline: 1px dotted #2c8898;
}

label,
legend,
fieldset {
    display: block;
    margin-bottom: .5rem;
    font-weight: 600;
}
